<p id="notice"><%= notice %></p>

<div class="row">
<%= form_tag posts_path, method: :post do %>
  <%= text_area_tag 'post[content]', @post.content, class: 'materialize-textarea' %>
  <%= submit_tag 'Save', class: 'btn' %>

<%end %>
</div>

  <div class="row">
  <% @posts.each do |post| %>
    <div class="col s12 m12 l12">
    <!-- 
    C'est super d'avoir pensé au responsive, mais absolument pas DU TOUT demandé
    Si seulement le reste avait été à 100% parfait, j'aurais pu apprécier. 
    En l'occurence, je trouve dommage que vous ayez perdu du temps avec ça
    Conseil TRES important en milieu pro: 
      - Comprendre ce que veut le client
      - Rester focus sur ce que veut le client et rien d'autre 
      - Ne surtout pas essayer d'en faire plus
    --> 
      <div class="card">
        <div class="card-content">
          <p><%= post.content %></p>
        </div>
        <div class="card-action">
        <%= post.user.email %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
